	<div class="detail_header">
		<div class="detail_title"><%= @event.title %></div>
		<div class="detail_icon"><%= image_tag @event.user.avatar, class: 'icon_img event_icon_img' %></div>
		<div class="detail_info">
			<div class="detail_date">開催日：<%= @event.date.strftime("%Y/%m/%d %H:%M") %></div>
			<div class="detail_user">主催者：<%= link_to @event.user.display_name, @event.user.url, target: "_blank" %></div>
		</div>
	</div>
	
	<div class="table_row">
		<div class="detail_column_left">内容</div>
		<div class="detail_column_right"><%= simple_format(h(@event.detail)) %></div>
	</div>
	<div class="table_row">
		<div class="detail_column_left">場所</div>
		<div class="detail_column_right"><%= @event.place %></div>
	</div>
	<div class="table_row">
		<div class="detail_column_left">URL</div>
		<div class="detail_column_right"><%= link_to @event.url, @event.url, target: "_blank" %></div>
	</div>
	<div class="table_row">
		<div class="detail_column_left">公開</div>
		<div class="detail_column_right"><%= $NAME_VIEW[@event.view] %></div>
	</div>

	<div class="table_row">
		<div class="detail_column_left">期限</div>
		<div class="detail_column_right"><%= @event.close_time.strftime("%Y/%m/%d %H:%M") %></div>
	</div>


	<div class="row_title">参加状況</div>
	<div class="member_list_title">
		<div class="member_list_join"><%= $NAME_JOIN[1] %>　(<%= @join.length %>人 / <%= @event.limit %> 人)</div>
		<div class="member_list_go_astray"><%= $NAME_JOIN[2] %>　(<%= @go_astray.length %>人)</div>
		<div class="member_list_no_join"><%= $NAME_JOIN[3] %>　(<%= @no_join.length %>人)</div>
	</div>
	<div class="member_list_body">
		<div class="member_list_join">
			<ul class="member_list">
				<% @join.each do |key, member| %>
					<li class="member_list_items">
						<%= image_tag member.user.avatar, class: 'icon_img_small' %>
						<%= link_to member.user.display_name, member.user.url, target: "_blank" %>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="member_list_go_astray">
			<ul class="member_list">
				<% @go_astray.each do |key, member| %>
					<li class="member_list_items">
						<%= image_tag member.user.avatar, class: 'icon_img_small' %>
						<%= link_to member.user.display_name, member.user.url, target: "_blank" %>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="member_list_no_join">
			<ul class="member_list">
				<% @no_join.each do |key, member| %>
					<li class="member_list_items">
						<%= image_tag member.user.avatar, class: 'icon_img_small' %>
						<%= link_to member.user.display_name, member.user.url, target: "_blank" %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>

	<% if @member %>
		<div class="row_title">参加表明</div>
		<div class="join_form">
			<div class="join_area">
				<%= form_for @member, url: member_index_path do |f| %>
					<%= f.hidden_field :kbn, value: 1 %>
					<%= f.hidden_field :event_id, value: @comment.event_id %>
					<%= f.hidden_field :uid, value: @comment.uid %>
					<%= f.submit $NAME_JOIN[1], class: 'submit_button join_button join' %>
				<% end %>
			</div>
			<div class="join_area">
				<%= form_for @member, url: member_index_path do |f| %>
					<%= f.hidden_field :kbn, value: 2 %>
					<%= f.hidden_field :event_id, value: @comment.event_id %>
					<%= f.hidden_field :uid, value: @comment.uid %>
					<%= f.submit $NAME_JOIN[2], class: 'submit_button join_button go_astray' %>
				<% end %>
			</div>
			<div class="join_area">
				<%= form_for @member, url: member_index_path do |f| %>
					<%= f.hidden_field :kbn, value: 3 %>
					<%= f.hidden_field :event_id, value: @comment.event_id %>
					<%= f.hidden_field :uid, value: @comment.uid %>
					<%= f.submit $NAME_JOIN[3], class: 'submit_button join_button no_join' %>
				<% end %>
			</div>
		</div>
	<% else %>
	<% end %>	

	<div class="row_title">コメント</div>
	<% @comments.each do |comment| %>
		<div class="comment_list_body">
			<div class="comment_icon"><%= image_tag comment.user.avatar, class: 'icon_img_small' %></div>
			<div class="comment_body">
				<div class="comment"><%= comment.comment %></div>
				<div class="comment_user">
					<%= link_to comment.user.display_name, comment.user.url, target: "_blank" %>
					<% if @comment && comment.uid == @user.uid %>
						<%= link_to 'コメントを削除する', comment_path(comment), method: :delete,  class: "delete_link", data: {confirm: 'コメントを削除します'} %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
	
	<div class="comment_form">
		<% if @comment%>
			<%= form_for @comment, url: comment_index_path do |f| %>
				<%= f.text_field :comment, placeholder: 'コメント', class:'input_text' %>
				<%= f.hidden_field :event_id, value: @comment.event_id %>
				<%= f.hidden_field :uid, value: @comment.uid %>
				<%= f.submit 'コメントを登録', class: 'submit_button submit_comment' %>
			<% end %>
		<% else %>
		<% end %>	
	</div>
	
	<% if @user && @event.uid == @user.uid %>
		<div class="edit_area">
			<%= link_to "イベント編集", edit_home_path, class: 'submit_button edit_button' %>
			<%= link_to "イベント削除", home_path, method: :delete, class: 'submit_button edit_button', data: {confirm: 'イベントを削除します'} %>
		</div>
	<% end %>
