<!DOCTYPE html>
<html>
  <head>
  	<%= analytics_init if Rails.env.production? %>
    <title>ｵﾌﾄﾞｩｰﾝ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="base">
	<%= link_to root_path do%>
  	<div class="header">
  	<h1><%= image_tag 'doon_logo2.png', class: 'logo' %>
  		<p class="logo_title">マストドン用オフ会調整システム（α）<br><span class="version_info">V0.0.3</span></p>
  	</h1>
  	</div>
  	<%end%>
  	<div class="body">

		<div class="main_left">
		    <%= yield %>
		</div>
		
		<div class="main_right">
			<% if @user %>
				<div class="right_box">
					<%= link_to image_tag(@user.avatar, class: 'icon_img'), generate_index_path, class:'link_icon' %> <%= @user.display_name %>さん
				</div>
				<div class="right_box">
					<%= link_to "ログアウト", logout_index_path, class:'logout' %>
				</div>
				<div class="right_box">
					<%= link_to image_tag('new_event.png', class: 'link_button'), { :controller => :home, :action => :new }, class:'link_img' %>
				</div>
				<div class="right_box">
					<%= link_to image_tag('my_event.png', class: 'link_button'), myevent_index_path, class:'link_img' %>
				</div>
			<% else %>
				<div class="right_box">
					<% my_path = request.host_with_port %>
					<%= link_to image_tag('login.png', class: 'link_button'), "https://#{my_path}/OffDoon/auth/mastodon", class:'link_img' %>
				</div>
			<% end %>
			
			<div class="affi">
				ここにアフィを置きたいやつ
			</div>

			<div class="right_box">
				障害・要望連絡は<a href="https://github.com/mstdn-workers/OffDoon/issues" target="_blank">こちら</a>で頂けると<br>
				対応しやすいです。
			</div>

		</div>

	</div>
    <div class="footer">
    	<p>OffDoon for Mastodon © 2018 <a href="https://mstdn-workers.com/@rin_souma" target="_blank">@rin_souma@mstdn-workers.com</a></p>
    </div>
  </body>
</html>
